@media screen and (min-width: 786px) {
  .wrapper{
    height: 90vh;
    width: 25vw;
    background-color: #f5f7fa;
    border-radius: 12px;
    position: fixed;
    z-index: 2;
    top: 15vh;
    right: 10%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 2px rgba(69, 69, 69, 0.626);

    overflow-y: scroll;
  }

  .container{
    min-height: 50vh;
    width: 25vw;
    padding-top: 4em;
  }

  .parent_wrapper{
    border-bottom: 1px solid rgb(168, 167, 167);
    padding: 1em;
    width: 25vw;
    margin-left: 1vw;
  }
}

@media screen and (max-width: 786px) {
  .wrapper{
    height: 90vh;
    width: 90vw;
    background-color: #f5f7fa;
    border-radius: 12px;
    position: fixed;
    z-index: 2;
    top: 10vh;
    left: 5vw;
    border: 2px solid rgba(0, 0, 0, 0.245);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 2px rgba(69, 69, 69, 0.626);
    border: 2px solid black; 
    overflow-y: scroll;
  }

  .container{
    padding-top: 4em;
    min-height: 50vh;
    width: 90vw;
  }

  .parent_wrapper{
    border: 2px solid black;
    padding: 1em;
    width: 100%;
  }
}