@import '../../assets/styles/mixins';



@media only screen and (max-width: 769px){

  .content {  
    margin-left: 0;
    position: relative;
    padding: 0;
    background: var(--color-white);
    width: 100vw;
    height: 100%;
    min-height: 100vh;
    @include tablet {
      border-radius: 0;
    }
  }
}

@media only screen and (min-width: 769px){

  .content {
    margin-left: 10vw;
    position: relative;
    padding: 0;
    background: var(--color-white);
    width: 90vw;
    height: 100%;
    min-height: 100vh;
    border-radius: 50px 0px 0px 0px;
    @include tablet {
      border-radius: 0;
    }
  }
}
