@font-face {
  font-family: "Open Sans";
  src: url("./OpenSansLight.ttf");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Open Sans";
  src: url("./OpenSansRegular.ttf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Open Sans";
  src: url("./OpenSansBold.ttf");
  font-style: normal;
  font-weight: 700;
}