@import "../../../assets/styles/mixins";

.popper {
  &.hidden {
    @include hidden();
  }
}

.buttons {
  border: none;
  color: inherit;
}

@media screen and (max-width: 768px) {
  .popper{
    padding: 0;
    border: 1px solid black;
  }
    
}