@import '../../../assets/styles/mixins';


@media only screen and (min-width: 769px){
  .outer_container {
    display: grid;
    grid-template-columns: 10vw 1fr;
    width: 100%;
    height: 100%;
    background-color: #363b55;
  }

  .container {
    grid-column: 2;
    height: 100%;
    width: 100%;
    padding: 2em;
    min-height: 90vh;
    background-color: white;
    border-radius: 50px 0px 0px 0px;
  }
}


.container_explain{
  width: 90vw;
  height: 90vh;
  padding: 2em;
  margin-left: 10vw;
  font-size: larger;
  border-radius: 50px 0px 0px 0px;
  background-color: white;
}

.container_special{
  display: flex;
  flex-direction: row;
}


.black {
  color: black;
}

.crimson {
    color:crimson;
}

.input_wrap {
    @include flexbox(center, center);
    flex-direction: column;
    margin-top: 20px;
    @include tablet{
      width: 100%;
      padding: 0 0 30px 0;
    }
  }
  
  .container_input {
    width: 503px;
    border-radius: 8px;
    background: var(--color-blue-light);
  
    @include tablet{
      width: 100%;
    }
  }

  .hint {
      margin-right: -10px;
  }
  
  .input {
    border-radius: 8px;
    color: var(--color-blue-dark);
    padding: 0;
    font-size: inherit;
    font-weight: bold;
  
    &::placeholder {
      color: var(--color-blue);
      font-weight: normal;;
  
      &:focus{
        color:transparent
      }
    }
  }

  .input_static {
    border-radius: 8px;
    color: var(--color-blue-dark);
    padding: 0 10px;
    font-size: inherit;
    font-weight: bold;
  }
  
  .register {
    color: var(--color-blue);
  }

.register {
  padding: 10px 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  width: 100%;
  border: none;

  &:active {
    border: none;
  }
}

.register_wrap {
    width: 100px;
}

.button_as_text {
  background: none;
  border: none;
  color: var(--color-blue);
  font-weight: bold;
  cursor: pointer;
}

.explainer_container {
  background: var(--color-blue-light);
  border: 1px solid var(--color-white);
  padding: 0 10px;
  color: var(--color-blue);
  margin-top: 10px;
  @media only screen and (max-width: 769px){
    margin-top: 40px;
  
    }
}

.validation_errors {
  background: var(--color-blue-light);
  padding: 0 10px;
  color: black;
  margin: 10px;
}

@media only screen and (max-width: 769px){

  .outer_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #363b55;

  }

  .container {
    margin-left: 0;
    border-radius: 0;
    background-color: white;
    padding: 2em;
    width: 100%;
    height: 100%;
  }

  .container_explain{
    padding: 1em;
  }

  .container_special{
    display: flex;
    flex-direction: column;
    margin-left: 0;
    border-radius: 0;
    background-color: white;
    width: 100%;
    height: 100%;
  }

}
