@import '../../../assets/styles/mixins';
@media only screen and (max-width: 769px){
  
}

.container_explain{
  padding: 1em;
  font-size: larger;
}

.container_special{
  display: flex;
  flex-direction: row;
}

.outer_container {
  display: flex;
  overflow: auto;
  @include tablet() {
    display: block;
  }
}
.container {
  padding-left: 2em;
  padding-top: 2em;
  width: 100%;
  height: 100%;
  font-family: $default-font;
}

.black {
  color: black;
}

.crimson {
    color:crimson;
}

.input_wrap {
    @include flexbox(center, center);
    flex-direction: column;
    margin-top: 20px;
    @include tablet{
      width: 100%;
      padding: 0 0 30px 0;
    }
  }
  
  .container_input {
    width: 503px;
    border-radius: 8px;
    background: var(--color-blue-light);
  
    @include tablet{
      width: 100%;
    }
  }

  .hint {
      margin-right: -10px;
  }
  
  .input {
    border-radius: 8px;
    color: var(--color-blue-dark);
    font-family: $default-font;
    padding: 0;
    font-size: inherit;
    font-weight: bold;
  
    &::placeholder {
      color: var(--color-blue);
      font-weight: normal;;
  
      &:focus{
        color:transparent
      }
    }
  }

  .input_static {
    border-radius: 8px;
    color: var(--color-blue-dark);
    font-family: $default-font;
    padding: 0 10px;
    font-size: inherit;
    font-weight: bold;
  }
  
  .register {
    color: var(--color-blue);
  }

.register {
  padding: 10px 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  width: 100%;
  border: none;

  &:active {
    border: none;
  }
}

.register_wrap {
    width: 100px;
}

.button_as_text {
  background: none;
  border: none;
  color: var(--color-blue);
  font-family: $default-font;
  font-weight: bold;
  cursor: pointer;
}

.explainer_container {
  background: var(--color-blue-light);
  border: 1px solid var(--color-white);
  padding: 0 10px;
  color: var(--color-blue);
  margin-top: 10px;
}

.validation_errors {
  background: var(--color-blue-light);
  padding: 0 10px;
  color: black;
  margin: 10px;
}

@media only screen and (max-width: 769px){
  .container {
    
    width: 100%;
    height: 100%;
    font-family: $default-font;
  }

  .container_explain{
    padding: 1em;
  }

  .container_special{
    display: flex;
    flex-direction: column;
  }
  
}