@import 'assets/styles/_mixins';

.createVault_steps {
  width: 300px;
  text-align: left;
  // transition: all 5s ease;
}


.createVault_step {
  margin: 20px 0 30px 0;
}

.createVault_submitter {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40 0 0px 0;
  text-align: center;
}

.vmark {
  margin: 1.5rem;
}

.text{
  font-size: 1rem;
  line-height: 1.45;
  color: #000;
}

.button {
  min-width: 165px;
  margin: 20px 0 10px;
  height: 40px;
  padding: 6.4px 20px;
  font-size: 16px;
  border-radius: 8px;
  color: #fff;
  border:none;
  font-weight: 700;
  background-color: var(--color-blue);
  font-family: inherit;
  transition-property: all;
  transition-duration: 0.05s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}

.button:hover:not(:disabled) {
  box-shadow: none;
  -webkit-transform: scale(.98);
    transform: scale(.98);
}

.button:disabled, button[disabled] {
  background-color: var(--color-blue);
}

.loader{
  @include not_blur();
  background-color: #f5f7fa;
}

.errorWrap {
  .error{
    margin-top: 16px;
  }
}

.smalltxt {
  font-size: 0.75rem !important;
  line-height: 1rem !important;
  color: #7C7D7E !important;
  margin: 0.5rem 0 1rem 0;
}

.right {
  font-family: $default-font;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  color: var(--color-blue);
  padding: 10px 20px 11px 0;
}

.disabled {
  opacity: 0.25;
}