@import '../../assets/styles/mixins';

.content_special {
  background-color: $dark-mode-bg;
  width: 100%;
  height: 100%;
  color: lightgray;
  @include tablet {
    border-radius: 0;
  }

  .wallet{
    margin-left: 12vw;
    min-height: 100vh;
  }
}



@media only screen and (max-width: 769px){
 
  .content_special {
    border-radius: 0px 0px 0px 0px;
    grid-template-columns: 1fr;
    .wallet{
      border-radius: 0px 0px 0px 0px;
      background-color: $dark-mode-bg;
      margin-left: 0vw;
      min-height: 100vh;
    }
  }
  
  .left-wallet_nav{
    display: none;
  }
}