@import '../../assets/styles/mixins';

.content_special {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 10VW 1fr;;
  @include tablet {
    border-radius: 0;
  }

  .wallet{
    border-radius: 50px 0px 0px 0px;
    
    background: #242729;
    min-height: 100vh;
    color: rgb(208, 202, 202);
  }
}



@media only screen and (max-width: 769px){
 
  .content_special {
    border-radius: 0px 0px 0px 0px;
    grid-template-columns: 1fr;
    
    .wallet{
      border-radius: 0px 0px 0px 0px;
      background-color: white;
    }
  }
  
  .left-wallet_nav{
    display: none;
  }
}