@import '../../assets/styles/mixins';

.content_special {
  position: relative;
  background-color: #363b55;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 10VW 1fr;;
  @include tablet {
    border-radius: 0;
  }

  .wallet{
    border-radius: 50px 0px 0px 0px;
    background-color: white;
  }
}



@media only screen and (max-width: 769px){
 
  .content_special {
    border-radius: 0px 0px 0px 0px;
    grid-template-columns: 1fr;
    
    .wallet{
      border-radius: 0px 0px 0px 0px;
      background-color: white;
    }
  }
  
  .left-wallet_nav{
    display: none;
  }
}