@import '../../assets/styles/mixins';

.content_special {
  position: relative;
  background: var(--color-white);
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 10VW 1fr;;
  @include tablet {
    border-radius: 0;
  }
}



@media only screen and (max-width: 769px){

  .content_special {
    grid-template-columns: 1fr;
  }
  .left-wallet_nav{
    display: none;
  }
}