@import "../../../assets/styles/mixins";

.wrap {
  width: max-content;
  padding: 15px;
  border-radius: 10px;
  height: max-content;
  background: var(--color-white);
  z-index: 15;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $default-font;
}

.title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
}

.label {
  color: var(--color-grey);
}

.params {
  list-style: none;
  color: var(--color-black-dark);
  padding: 0;
  margin: 0;
}

.button {
  border: none;
  background: var(--color-blue);
  color: var(--color-white);
  border-radius: 8px;
  margin-top: 20px;
  text-transform: uppercase;
  transition: 0.3s all;

  &:hover {
    opacity: 0.7;
  }
}
