@import "../../../assets/styles/mixins";

.wrap {
  width: max-content;
  padding: 15px;
  border-radius: 10px;
  height: max-content;
  background: var(--color-white);
  z-index: 15;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $default-font;
}

.title {  
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  color: var(--color-black-dark);
}

.link {
  text-decoration: none;
  color: var(--color-grey);
}