@media screen and (min-width: 786px) {
  .container{
    margin-top: 1em;
    height: 100%;
    width: 50vw;
    background-color: #EDF3FB;
    border-radius: 12px;
    padding: 2em;
  }

  .outGoing{
    color: #2775CA;
  }
}

