@import "../../../assets/styles/mixins";

@media screen and (min-width: 786px) {
  .container{
    margin-top: 1em;
    height: 100%;
    width: 100%;
    border-radius: 12px;
  }

  .outGoing{
    color: #2775CA;
    font-size: 18px;
  }
}

@media screen and (max-width: 786px) {
  .outGoing{
    color: #2775CA;
    margin-left: 1em;

  }
}

.card {
  margin: 0 0 10px 0;
  @include tablet {
    // width: inherit;
    margin: 0 15px 15px 15px;
  }
}
