.streamRow{
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  background-color: #EDF3FB;
  padding: 1em;
  transition: 0.5s;

}

.receiver{
  color: rgb(82, 82, 82);
}

.currentFlow{
  font-size: small;
  color: rgb(86, 86, 86);
}

.outGoing{
  color: #2775CA;
}

strong{
  color: rgba(160, 160, 160, 0.701)
}

.updatePrompt{
  position: fixed;
  right: 1vw;
  height: 10vh;
  width: 10vw;
}

.change_flow_cancel{
  height: 40px;
  margin-bottom: 1em;
  width: 7vw;
  background-color:#363b55;
  color: white;
  border-radius: 12px;
  border: none;
  padding: 0.5em;
  cursor: pointer;
  &:hover{
    background-color: #363b55;
  }
}

.stream_row_container{
  display: flex; 
  flex-direction: row;
  justify-content: space-around;
  width: 30vw; 
  align-items: center;
}

.toggleBtn{
  height: 40px;
  margin-bottom: 1em;
  border-radius: 12px;
  background-color: #2775CA;
  padding: 0.5em;
  width: 7vw;
  border: none;
  color: white;
}

.invisible{
  display: none;
}

.currentFlowRate{
  font-size:medium;
  text-align: center;
  margin-top: 2em;
  bottom: 0;
  width: 30%;
  color: #678EB5;

  strong{
    font-size: large;
    color: #363b55;
  }
}

.currentFlowTime{
  font-size: small;
  color: #7D8581;
}

.updatePrompt{
  position: fixed;
  bottom: 0;
  left: 10vw; 
  height: 30vh;
  width: 30vw;
  margin-left: 10;
  background-color: white;
  padding-top: 1em;
  padding-left: 3em;
  box-shadow: 4px 4px 4px rgb(89, 89, 89);
  border-radius: 12px;
  border: 1px solid lightgray;
}

.update_buttons{
  height: 9vh;
  width: 20vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.amount_change{
  margin-top: 1em;
  height: 5vh;
  width: 9vw;
  border: none;
  border-radius: 12px;
  margin-right: 1em;
}

.amount_container{
  display: flex;
  flex-direction: row;
}

.input_field{
  height: 6vh;
  margin-right: 1em;
  width: 18vw;
}



@media screen and (max-width: 786px) {

  .streamRow{
    border-bottom: 2px solid #2776ca26;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 0.5em;
    height: 70vh;
    transition: 0.5s;
    &:hover{
      background-color: #ccd1d7;
  
    }
    .stream_row_container{
      display: flex; 
      flex-direction: column;
      min-width: 100%;
      align-items: center;
    }
    

    h3{
      width: 100%;
      font-size: small;
      margin-top: 0;
      display: flex;
      flex-direction: column;
    }

    .update_buttons{
      flex-direction: row;
      height: 10vh;
      width: 80%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .change_flow_cancel{
      height: 6vh;
      margin-left: 1em;
      font-size: small;
      width: 30vw;
      background-color: #363b55;
      color: white;
      border-radius: 12px;
      border: none;
      cursor: pointer;
      &:hover{
        background-color: #363b55;
      }
    }
  }

 
  



  
.updatePrompt{
  position: fixed;
  bottom: 0;
  left: 5vw;
  height: 40vh;
  width: 90vw;
  background-color: white;
  padding-top: 1em;
  padding-left: 3em;
  box-shadow: 4px 4px 4px rgb(89, 89, 89);
  border-radius: 12px;
  border: 1px solid lightgray;
}



.amount_change{
  margin-top: 1em;
  height: 5vh;
  width: 30vw;
  border: none;
  border-radius: 12px;
  margin-right: 1em;
}

.input_field{
  height: 6vh;
  margin-right: 1em;
  width: 60vw;
}

.toggleBtn{
  height: 5vh;
  border-radius: 12px;
  margin-left: 1em;
  border: none;
  background-color: #2775CA;
  padding: 0.5em;
  width: 40vw;
  color: white;
}

}
