.streamRow{
  background-color: #EDF3FB;
  padding: 1em;
  border-radius: 20px;
  padding-bottom: 1em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  h3{
    font-size: small;
  }

  div{
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
}

.invisible{
  display: none;
}