.streamRow{
  border-bottom: 2px solid #2776ca51;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 1em;
  transition: 0.5s;
  &:hover{
    background-color: #ccd1d7;

  }
}

.receiver{
  color: rgb(82, 82, 82);
}

.currentFlow{
  font-size: small;
  color: rgb(86, 86, 86);
}

.outGoing{
  color: #2775CA;
}

strong{
  color: rgba(160, 160, 160, 0.701)
}

.updatePrompt{
  position: fixed;
  right: 1vw;
}