.ric_price_container {
    background-color: var(--color-blue);
    color: white;
    border-radius: 0.25rem;
    width: max-content;
    margin: auto;
    padding-left: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 8px;
  }
