@import '../../assets/styles/mixins';

.content {
  background: var(--color-white);
  border-radius: 30px;
  width: 100%;
  height: 100%;
  @include tablet {
    border-radius: 0;
  }
}

.inner_content {
  @include flexbox(center, space-between);
  flex-direction: column;
  width: 100%;
  padding: 40px;

@include tablet {
  @include flexbox(center, center);
  display: flex;
} 
}
