@import '../../../assets/styles/mixins';

.container {
  width: 100%;
  height: 100%;
  font-family: $default-font;
  padding: 40px 104px 40px 104px;


  @include tablet{
    padding: 40px 30px 30px 30px;
  }
}

.input_wrap {
  @include flexbox(center, center);

  @include tablet{
    width: 100%;
    padding: 0 0 30px 0;
  }
}

.container_input {
  width: 503px;
  border-radius: 8px;
  background: var(--color-blue-light);

  @include tablet{
    width: 100%;
  }
}

.input {
  border-radius: 8px;
  color: var(--color-blue);
  font-family: $default-font;
  padding: 0;

  &::placeholder {
    color: var(--color-blue);

    &:focus{
      color:transparent
    }
  }
}

.search {
  color: var(--color-blue);
}

.headers {
  @include flexbox(center, space-between);

  padding: 40px 119px 20px 30px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-grey);

  & > div {
    flex:1;
  }

  @include tablet{
   display: none;
  }
}

.panel {
  margin: 0 0 10px 0;
}

.content {
  width: 100%;
  height: 100%;
}

.settings_mob {
display: none;

@include tablet {
display: block;
width: 100%;
padding: 90px 0 20px 0;
position: relative;
}
}

.dot {
  color: var(--color-blue);
  margin: 0 0 0 23px;
}

.fee_disclaimer {
  color: var(--color-black-dark);
  display: flex;
  justify-content: center;
  font-size: 0.75rem;
  line-height: 1.66;
}
