@import 'assets/styles/mixins';

.content {
  position: relative;
  background: var(--color-white);
  width: 100%;
  height: 100%;
  min-height: 100vh;
  @include tablet {
    border-radius: 0;
  }
}

@media only screen and (min-width: 768px) {
  .content {
    margin-left: 10vw;
    border-radius: 50px 0 0 0;
  }
}
