@import 'assets/styles/mixins';

.content {
	position: relative;
	background: $dark-mode-bg;
	width: 100%;
	height: 100%;
	min-height: 100vh;
	padding-right: 2em;
	@include tablet {
		border-radius: 0;
	}
}

@media only screen and (min-width: 768px) {
	.content {
		margin-left: 12vw;
	}
}
