---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: ricochet
  labels:
    app: frontend
spec:
  replicas: 1 
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: website
        image: amazonaws.com/ricochet
        resources:
            limits:
              memory: 1024Mi
            requests:
              memory: 1024Mi
              cpu: 300m
        imagePullPolicy: Always
        env:
        - name: RANDOM_VAL
          value: kustomized_ricochet
        ports:
        - containerPort: 3000
          name: frontend
