@import "../../../assets/styles/mixins";

.wrap {
  @include flexbox(center, center);

  width: 100%;
  height: 44px;
  background: $color-input-background;
  border-radius: 4px;
  border: 1px solid transparent;

  ::placeholder {
    color: var($color-input-text);
    font-weight: var(--weight-400);
  }

  &.error {
    border-color: var(--color-error);
  }
}
