@import '../../../assets/styles/mixins';

.outer_container {
  display: flex;
  overflow: auto;
  @include tablet() {
    display: block;
  }
}

.modal{
  background: rgba(0,0,0,0.1);;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 99999999;
  min-width: 100vw;
  height: 100vh;
  padding-top: 100px;

  button{
    border: none;
    background: none;
    cursor: pointer;
  }

  .row{
    display: flex;
    flex-direction: row;
    min-width: 100%;
    align-items: center;
    justify-content: space-between;
  }

  .modal_container{
    min-width: 500px;
    min-height: 200px; 
    padding: 20px;
    border-radius: 20px;
    background: white;

    .token_selection{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        cursor: pointer;
        padding: 10px;

        .token_image{
          width: 30px;
          height: 30px;
          padding-right: 10px;
        }
    }

    .token_selection:hover{
      font-weight: bold;
    }
  }
}

.container {
  width: 100%;
  height: 100%;
  font-family: $default-font;
  padding: 40px 40px 40px 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  @include tablet{
    padding: 0 30px 30px 30px;
  }

  button{
    border: none;
    background: none;
    cursor: pointer;
  }
  
  input{
    border: none;
    outline: none;
    font-size: 38px;
    max-width: 200px;
    margin-right: 20px;
    background: none;
  }

  .trade_box{
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 2px solid var(--color-blue-dark);
    border-radius: 20px;
    .trade_input{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      background: var(--color-blue-light);
      cursor: pointer;
      padding: 20px;
      width: 100%;
      margin-bottom: 10px;
      border: 1px solid white;
      border-radius: 20px;
    }

    .trade_input:hover{
      border: 1px solid var(--color-blue-dark);
      border-radius: 20px;
    }

    .trade_button{
      width: 100%;
      button{
        width: 100%;
        cursor: pointer;
        color: white;
        background: var(--color-blue-dark);
        padding: 20px;
        border: none;
        border-radius: 20px;
        outline: none;
        font-weight: bold;
      }
    }

    .swap_option{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      background: var(--color-blue-dark);
      color: white;
      padding: 10px;
      font-weight: bold;
      border-radius: 50px;
      margin-bottom: 10px;
    }
  }

  .row{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

