.panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
  background: var(--color-blue-light);
  color: var(--color-black-dark);
  width: 100%;
  font-size: 14px;
  font-family: "Helvetica Neue", "Open Sans";
}

.container {
  padding: 13px 36px 13px 30px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 20px 14px 6px 15px;
  }
}

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.currency {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.labels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.date {
  font-family: "Helvetica Neue", "Open Sans";
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .date {
    text-align: start;
  }
}

.balances {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: var(--color-white);
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .balances {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 35%;
            flex: 0 0 35%;
  }
}

.first_balance_container {
  padding: 0 0 9px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.second_balance_container {
  padding: 0 0 9px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.direction_label {
  min-width: 20%;
  color: black;
  text-align: right;
  padding: 3px 6px 0px 0px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 140%;
  text-transform: uppercase;
  color: var(--color-grey);
}

.currency_first_balance {
  background: var(--color-blue-dark);
  padding: 3px 10px;
}

.currency_second_balance {
  background: #3a6288;
  padding: 3px 10px;
  margin-bottom: 2px;
}

.arrow_down,
.arrow_up {
  color: var(--color-blue);
  margin-left: 24px;
}

.arrow_down:active,
.arrow_up:active {
  background: var(--color-blue-light);
}

@media screen and (max-width: 768px) {
  .arrow_down,
  .arrow_up {
    width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    text-align: center;
  }
}

.btn_arrow {
  width: 100%;
  cursor: pointer;
}

.btn_arrow:active {
  background: transparent;
}

.number {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  color: var(--color-blue);
  margin: 0 4px 0 0;
}

.token_amounts {
  font-style: normal;
  font-size: 12px;
  line-height: 100%;
  color: var(--color-grey);
}

.coin {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (max-width: 768px) {
  .coin {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 65%;
            flex: 1 0 65%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.stream {
  text-align: left;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .stream {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    position: relative;
    -ms-flex-direction: column;
        flex-direction: column;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
  }
}

.stream_values {
  font-family: "Helvetica Neue", "Open Sans";
  padding: 0 0 4px 0;
}

.streaming {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: "Helvetica Neue", "Open Sans";
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media screen and (max-width: 768px) {
  .streaming {
    display: none;
  }
}

.streaming_mob {
  display: none;
}

@media screen and (max-width: 768px) {
  .streaming_mob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    font-family: "Helvetica Neue", "Open Sans";
    right: 0%;
    padding-left: 10px;
  }
}

.number_date {
  margin: 0 0 0 5px;
  color: var(--color-blue);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .form {
    display: none;
  }
}

.form_mob {
  display: none;
}

@media screen and (max-width: 768px) {
  .form_mob {
    display: block;
    width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

.depositTooltip_span {
  display: block;
  text-align: justify;
  opacity: 0.999;
  font-size: 0.95em;
  background: var(--color-blue-dark);
}

.depositTooltip {
  background: var(--color-blue-dark) !important;
}

.__react_component_tooltip::before, .__react_component_tooltip::after {
  border-top: 5px solid #062e56 !important;
}

@media screen and (max-width: 768px) {
  .row {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: space-evenly;
        -ms-flex-align: space-evenly;
            align-items: space-evenly;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    text-align: right;
  }
}
/*# sourceMappingURL=styles.module.css.map */