@import '../../../assets/styles/mixins';
.panel {
  @include flexbox(flex-start, center);

  flex-direction: column;
  border-radius: 10px;
  background: var(--color-blue-light);
  color: var(--color-black-dark);
  width: 100%;
  font-size: 14px;
  font-family: $default-font;

  @include tablet {
  }
}

.container {
  padding: 13px 36px 13px 30px;
  width: 100%;

  @include tablet {
    padding: 20px 14px 6px 15px;
  }
}

.wrap {
  @include flexbox(center, space-between);

  width: 100%;

  @include tablet {
    flex-wrap: wrap;
  }
}

.block {
  @include flexbox(center, center);
}


.currency {
  @include flexbox(center, center);
}

.labels {
  @include flexbox(center, center);

  position: relative;
}

.date {
  font-family: $default-font;
  width: 100%;
  text-align: center;

  @include tablet {
    text-align: start;
  }
}

.balances {
  @include flexbox(center, center);

  flex-direction: column;
  color: var(--color-white);
  flex: 1;
  width: 100%;

  @include tablet {
    @include flexbox(flex-end, center);
    
    flex: 0 0 35%;
  }
}

.first_balance_container {
  padding: 0 0 9px 0;
}

.currency_first_balance {
  background: var(--color-blue-dark);
  width: 155px;
  height: 23px;
  padding: 3px 12px;
}

.currency_second_balance {
  width: 129px;
  height: 23px;
  background: var(--color-yellow);
}

.arrow_down,
.arrow_up {
  color: var(--color-blue);
  &:active {
    background: var(--color-blue-light);
  }

  @include tablet {
    width: 100%;
    flex: 0 0 100%;
    text-align: center;
  }

}

.btn_arrow{
  width: 100%;
  cursor: pointer;
  
  &:active {
    background: transparent;
  }
}

.number {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  color: var(--color-blue);
  margin: 0 5px 0 0;
}

.coin {
  width: 100%;
  flex: 1;

  @include tablet {
    flex: 1 0 65%;
    @include flexbox(center, flex-start);
  }
}

.stream {
  text-align: center;
  flex: 1;
  width: 100%;

  @include tablet {
    @include flexbox(flex-start, center);

    flex-direction: column;

    flex: 0 0 25%;
  }
}

.stream_values {
  font-family: $default-font;
  padding: 0 0 4px 0;
}

.streaming {
  @include flexbox(center, center);

  flex: 1;
  flex-wrap: wrap;
  font-family: $default-font;
  width: 100%;

  @include tablet {
    display: none;
  }
}

.streaming_mob {
  display: none;

  @include tablet {
    @include flexbox(flex-end, center);

    flex-direction: column;
    flex: 0 0 25%;
    flex-wrap: wrap;
    font-family: $default-font;
    width: 100%;
  }
}

.number_date {
  margin: 0 0 0 5px;
  color: var(--color-blue);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
}

.form {

  @include tablet{
    display: none;
  }
}

.form_mob {
  display: none;

  @include tablet{
    display: block;
    width: 100%;
    flex: 0 0 100%;
  }
}


