@import 'assets/styles/_mixins.scss';

.form {
  @include flexbox(baseline, flex-start);

  flex-wrap: wrap;
}

.input {
  width: 213px;

  @include for_large_mobile {
    width: 100px;
  }
}

.button {
  margin: 0 0 0 20px;

  @include for_large_mobile {
    margin-left: 10px;
  }
}

.balance {
  background-color: #5f8eb9;
  padding: .35em .65em;
  font-size: .75em;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
  width: max-content;
  margin-bottom: 8px;
}

.subscription {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 1rem;
}

.link {
  color: rgb(33, 37, 41);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
}

.balance_text {
  color: #5f8eb9;
  font-size: small;
  font-weight: bold;
  margin-top:0;
}

.black {
  color: black;
}

.error {
  margin: 30px 0 5px 0;
  padding: 0;
  color: tomato;
  height: 10px;
  font-size: 10px;
}