.link:hover,
.link:active {
	color: #40a9ff;
}

.link:visited {
	color: initial;
}

.noTrades {
	margin-top: 10px;
	font-size: 25px;
	margin-left: 50px;
	@media (max-width: 789px) {
		font-size: 14px;
		margin-left: 13px;
	}
}
