@import '../../../assets/styles/mixins';


.buttons_upgrade,
.downgrade_wrap {
  @include flexbox(center, center);

  @include tablet {
    width: 100%;
    
  }
}

.approve_wrap,
.upgrade_wrap {

  @include tablet {
    @include flexbox(center, center);

    box-sizing: border-box;
    border-radius: 8px;
    width: 100%;
  }

}

.approve_wrap {
  margin: 0 10px 0 0;

  @include tablet {
    border: 1px solid var(--color-blue); 
  }

  
}

.downgrade_wrap {

  @include tablet {
    @include flexbox(center, center);

    width: 100%;

    box-sizing: border-box;
    border-radius: 8px;
  }
}


.approve,
.upgrade,
.downgrade {
  padding: 10px 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  width: 100%;
  border: none;

  &:active {
    border: none;
  }
}

