@import 'assets/styles/mixins';

.content {
  position: relative;
  background: var(--color-white);
  width: 100%;
  height: 100%;
  min-height: 100vh;
  @include tablet {
    border-radius: 0;
  }
}
