@import 'assets/styles/_mixins.scss';

.form {
  @include flexbox(center, flex-start);

  margin-top: 30px;
}

.input {
  border: 2px solid #bfc2c5;
  border-radius: 0px;
  padding: 5px;
  font-size: 16px;
  width: 213px;
}

.button {
  margin-left: 24px;
}
