@import "assets/styles/variables";
@import "assets/styles/mixins";

@include tablet {
  .dextable
    td:not(:first-child):not(:last-child):not(:nth-child(2)):not(:nth-child(3)) {
    display: none;
    max-height: 0;
  }
}

.dextable {
  border-collapse: collapse;
  overflow: hidden;
  width: 100%;
}

.blue {
  color: var(--color-blue-dark);
  font-weight: 500;
}

.grey {
  color: var(--color-grey);
  font-size: 12px;
  font-weight: 400;
}

.dextable th,
.dextable td {
  word-break: break-word;
  padding: 15px 15px 16px 12px;
  line-height: 25px;
  text-align: right;
}

.priceWithIcon {
  display: flex !important;
  align-items: center;
  float: right;

  img {
    height: 20px;
    width: 20px;
    margin-right: 10px;
  }
}

.dextable td.section {
  text-align: right;
  border-right: 1px solid var(--color-blue-light);
}

.dextable tbody tr {
  border-bottom: 1px solid var(--color-blue-light);
  font-size: 0.9em;
  font-weight: 500;
}

.dextable tbody tr:last-of-type {
  border-bottom: 2px solid var(--color-blue);
}

@media only screen and (max-width: 769px) {
  .dextable th,
  .dextable td {
    word-break: keep-all;

    line-height: 25px;
    text-align: right;
    border-right: 1px solid rgba(161, 175, 202, 0.53);
  }
}

@media only screen and (max-width: 359px) {
  .displaybutton {
    height: 22px;
    width: 30px;
  }

  .upgrade_downgrade_head {
    font-size: xx-small;
    text-align: left;
  }
}

.button {
  background-color: transparent;
  color: $purple;
  border-color: $purple;
  padding: 7px 20px;
  border-radius: 8px;
}

.bankDetails {
  background: var(--color-blue-light);
}
