@media screen and (min-width: 786px) {
 
  .stream_form_container{
    width: 100%;
    padding: 2em;
  }

  .title{
    font-size: xx-large;
    color: #678EB5;
    font-weight: bold;
    text-align: center;
  }


  .close{
   color: #678EB5;
  }

  .exit_btn{
    position: absolute;
    top: 2em;
    background-color: #f5f7fa;
    border: none;
    right: 2em;
    cursor: pointer;
  }

  .result{
    text-align: center;
    width: 70%;
    margin-left: 15%;
    font-size: medium;
    color: rgb(69, 68, 68);
  }

  .stream_button{
    margin-right: 1em;
    padding: 0.8em;
    width: 8vw;
    border-radius: 10px;
    border: none;
    background-color: #678EB5;
    color: white;
    cursor: pointer;
    transition: 0.5s;
    font-weight: bold;
    &:hover{
      box-shadow: inset 0 100px 0 0 #abd2f3;
      color: rgb(62, 62, 62);
    }
  }
  
  .nav_link{
    height: 7vh;
    width: 50%;
    margin-top: 1em;
    background-color: #2775CA;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1em;
    padding-right: 1em;
    color: white;
    flex-direction: row;
    margin-left: 25%;
    margin-top: 2em;
  }
  .success{
    color: #55B88D;
    font-size: xx-large;
    text-align: center;
  }

  .close_btn{
    position: absolute;
    top: 1em;
    border: none;
    right: 2em;
    padding: 1em;
    color: white;
    cursor: pointer;
    transition: 0.9s;
    background-color: #363b55;
    // z-index: 102;
    &:hover{
      background-color: #363b55;
    }
  }

  .recent_btn{
    height: 5vh;
    padding-left: 1em;
    padding-right: 1em;
    position: absolute;
    top: 1em;
    border: none;
    // z-index: 102;
    background-color: #363b55;
    color: white;
    font-weight: 600;
    border-radius: 12px;
    left: 1em;
    transition: 0.5s;
    &:hover{
      box-shadow: inset 0 100px 0 0 #abd2f3;
      color: rgb(62, 62, 62);
    }
    color: white;
    font-weight: 600;
    border-radius: 12px;
  }

  .warning{
    color: #CC193E;
    font-size: large;
    margin-top: 6em;
  }
}

@media screen and (max-width: 786px) {
  .stream_button{
    margin-right: 1em;
    height: 5vh;
    width: 30vw;
    border-radius: 10px;
    border: none;
    background-color: #678EB5;
    color: white;
    font-weight: bold;
  }
  .recent_btn{
    height: 5vh;
    border: none;
    padding-left: 1em;
    padding-right: 1em;
    position: absolute;
    top: 1em;
    border: none;
    // z-index: 102;
    background-color: #2775CA;
    color: white;
    font-weight: 600;
    border-radius: 12px;
    left: 1em;
    box-shadow: 2px 2px lightgray;
  }
  .stream_panel_container{
    // z-index: 100;
    height: 600px;
    width: 75vw;
    background-color: #f5f7fa;
    border-radius: 12px;
    position: relative;
    // top: 20vh;
    // left: 5vw;
    border: 2px solid rgba(0, 0, 0, 0.245);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }


  .close{
    color: #678EB5;
   }
 
   .exit_btn{
     position: absolute;
     top: 2em;
     background-color: #f5f7fa;
     border: none;
     right: 2em;
   }

   .stream_form_container{
    width: 100%;
    padding: 2em;
  }

  .title{
    font-size: xx-large;
    color: #678EB5;
    font-weight: bold;
    text-align: center;
  }

  .result{
    text-align: center;
    width: 80%;
    margin-left: 10%;
    color: rgba(69, 68, 68, 0.653);
  }

  
  .nav_link{
    height: 7vh;
    width: 50%;
    margin-left: 25%;
    margin-top: 1em;
    background-color: #2775CA;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1em;
    padding-right: 1em;
    color: white;
    flex-direction: row;
    
  }

  .success{
    color: #55B88D;
    font-size: xx-large;
    text-align: center;
  }

  .close_btn{
    position: absolute;
    top: 0.5em;
    background-color: #f5f7fa;
    padding: 0.5em;
    border: none;
    right: 0.5em;
    background-color: #CC193E;
    // z-index: 102;
  }

  .warning{
    color: #CC193E;
    font-size: large;
    margin-top: 6em;
 
  }
}
