@import 'assets/styles/_mixins.scss';

.header {
  @include flexbox(center, space-between);
  
  @include for_breakpoint_width(1023px) {
    flex-wrap: wrap;
  }
}

.logo {
  width: 15%;
}

.left {
  @include flexbox(center, space-between);
  
  width: 50%;
  margin-right: 24px;

  @include for_breakpoint_width(1023px) {
    width: 100%; 
    margin-right: 0; 
    margin-bottom: 15px;
  }
}

.account {
  background-color: #6c757d;
  padding: .35em .65em;
  font-size: .75em;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
}

.right {
  @include flexbox(center, space-between);

  width: 50%;

  @include for_breakpoint_width(1023px) {
    width: 100%;
    margin-bottom: 15px; 
  }
}

.links {
  @include flexbox(center, flex-start);
}

.link {
  text-decoration: none;
  color: #ffffff;
  background-color: #5f8eb9;
  padding: .35em .65em;
  font-size: .75em;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
}

.ric {
  background: #0dcaf0;
  padding: .35em .65em;
    font-size: .75em;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}