@import 'assets/styles/mixins';
@import 'assets/styles/variables';

.fullframe {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.contentTotal {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.outer_container {
  display: flex;
  overflow: auto;
  @include tablet() {
    display: block;
  }
}

.container {
  @include flexbox(center, center);
  width: 100%;
  height: 100%;
  font-family: $default-font;
  padding: 40px 40px 40px 40px;


  @include tablet{
    padding: 0 0px 30px 0px;
  }
}

.BankStatusBar,
.BankDetails,
.VaultDetails {

  width: 100%;
}

.BankStatusBar {
  margin: 0;
}

.BankDetails,
.VaultDetails {
  max-width: 1400px;
}

@media only screen and (min-width: 1824px) {
  .BankDetails {
    margin-top: 20px;
  }
}


@media only screen and (max-width: 769px){

}

@media only screen and (min-width: 769px){
  .outer_container {
    display: grid;
    grid-template-columns: 10vw 1fr;
    width: 100%;
    height: 100%;
    background-color: #363b55;
  }
  
  .container {
    grid-column: 2;
    height: 100%;
    width: 100%;
    background-color: white;
    border-radius: 50px 0px 0px 0px;
  }
}