@import "../../../assets/styles/mixins";

.panel {
  border-radius: 10px;
  background: $dark-mode-bg-2;
  color: white;
  width: 100%;
  font-size: 14px;
  font-family: $default-font;
  @include tablet {
  }
}

.container {
  padding: 1em 2em;
}

.subscribed {
  cursor:pointer;
  color: var(--color-primary);
}

.subscribed:hover {
  text-decoration:underline;
}


.subscribedSmallDevice {
  display: none;
  @include tablet {
    cursor:pointer;
    color: var(--color-error);
    display: block;
  }
}

.subscribedSmallDevice:hover {
  @include tablet {
    text-decoration:underline;
  }
}

.unsubscribed {
  cursor:pointer;
  color: var(--color-error);
  @include tablet {
    display: none;
  }
}

.unsubscribed:hover {
  text-decoration:underline;
  @include tablet {
    display: none;
  }
}
.header{
  display: none;
  @include tablet {
    cursor:pointer;
    color: var(--color-blue-dark);
    font-weight: 500;
    display: block;
  }
}

.unsubscribedSmallDevice {
  display: none;
  @include tablet {
    cursor:pointer;
    color: var(--color-error);
    display: block;
  }
}

.unsubscribedSmallDevice:hover {
  @include tablet {
    text-decoration:underline;
  }
}




.wrap {
  @include flexbox(center, space-between);
  width: 100%;

  @include tablet {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

.block {
  @include flexbox(center, center);
}

.currency {
  @include flexbox(center, center);
}

.labels {
  @include flexbox(center, center);

  position: relative;
}

.date {
  font-family: $default-font;
  width: 100%;
  text-align: center;

  @include tablet {
    text-align: start;
  }
}

.balances {
  @include flexbox(center, center);

  flex-direction: column;
  color: var(--color-white);
  flex: 1;
  width: 100%;

  @include tablet {
    @include flexbox(flex-start, center);
    padding: 0 0 5px 10px;
    flex: 0 0 35%;
  }
}

.first_balance_container {
  padding: 0 0 9px 0;
  display: flex;
}

.second_balance_container {
  padding: 0 0 9px 0;
  display: flex;
}

.direction_label {
  min-width: 20%;
  color: black;
  text-align: right;
  padding: 3px 6px 0px 0px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 140%;
  text-transform: uppercase;
  color: var(--color-grey);
}

.currency_first_balance {
  background: var(--color-blue-dark);
  padding: 3px 10px;
}

.currency_second_balance {
  background: #3a6288;
  padding: 3px 10px;
  margin-bottom: 2px;
}

.arrow_down,
.arrow_up {
  color: var(--color-blue);
  margin-left: 24px;

  &:active {
    background: var(--color-blue-light);
  }

  @include tablet {
    width: 100%;
    flex: 0 0 100%;
    text-align: center;
  }
}

.btn_arrow {
  width: 100%;
  cursor: pointer;

  &:active {
    background: transparent;
  }
}

.number {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  color: var(--color-blue);
  margin: 0 4px 0 0;
}

.token_amounts {
  font-style: normal;
  font-size: 12px;
  line-height: 100%;
  color: var(--color-grey);
}

.distributed_time {
  font-style: normal;
  font-size: 12px;
  line-height: 100%;
  color: var(--color-grey);
}

.coin {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  @include tablet {
    flex: 1 0 65%;
    @include flexbox(flex-start, flex-start);
  }
}

.stream {
  text-align: left;
  flex: 1;
  width: 100%;

  @include tablet {
    @include flexbox(flex-start, center);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: relative;
    flex-direction: column;
    flex: 0 0 25%;
    padding: 0 0 20px 10px;
  }
}

.stream_values {
  font-family: $default-font;
  padding: 0 0 4px 0;
}

.streaming {
  @include flexbox(center, center);

  flex: 1;
  flex-wrap: wrap;
  font-family: $default-font;
  width: 100%;
  flex-direction: column;
  align-items: flex-end;
  @include tablet {
    align-items: flex-start;
    padding-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

.streaming_mob {
  display: none;

  @include tablet {
    @include flexbox(flex-start, center);
    flex-direction: column;
    position: relative;
    flex: 0 0 25%;
    flex-wrap: wrap;
    font-family: $default-font;
    right: 0%;
    padding-left: 10px;
  }
}

.number_date {
  margin: 0 0 0 5px;
  color: var(--color-blue);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
}

.form {
  @include tablet {
    display: none;
  }
}

.form_mob {
  display: none;

  @include tablet {
    display: block;
    width: 100%;
    flex: 0 0 100%;
  }
}

.depositTooltip_span {
  display: block;
  text-align: justify;
  opacity: 0.999;
  font-size: 0.95em;
  background: var(--color-blue-dark);
}

.depositTooltip {
  background: var(--color-blue-dark) !important;
}

.__react_component_tooltip::before,
.__react_component_tooltip::after {
  border-top: 5px solid #062e56 !important;
}

.row {
  @include tablet {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: space-evenly;
    justify-content: space-evenly;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 80%;
  }
}

.contract {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: var(--color-black-dark);
}

.publisherContent {
  flex-basis: 100px;
}

.columns {
  @include flexbox(center, space-between);
  @include tablet {
    display: grid;
    flex-wrap: wrap;
    gap: 12px;
  }
}

.column {
  display: flex;
  text-align: left;
  flex: 1 1;
  align-content: center;
  justify-content: flex-start;
  column-gap: 5px;
}

.columnMobile {
  display: none;
  @include tablet {
    display: flex;
    text-align: left;
    flex: 1 1;
    align-content: center;
    justify-content: flex-start;
    column-gap: 5px;
  }

}

.mobile{
  @include tablet {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 12px;
  }
}
.externalLink{
  > a {
    @include tablet {
      margin-top: 0px;
    }
  }


}
