@import '../../assets/styles/mixins';

@media only screen and (max-width: 769px) {
	.content {
		margin-left: 0;
		position: relative;
		padding: 0;
		background-color: $dark-mode-bg;
		width: 100vw;
		height: 100%;
		min-height: 100vh;
		@include tablet {
			border-radius: 0;
		}
	}
}

@media only screen and (min-width: 769px) {
	.content {
		margin-left: 12vw;
		position: relative;
		padding: 0;
		background-color: $dark-mode-bg;
		width: 88vw;
		height: 100%;
		min-height: 100vh;
		@include tablet {
			border-radius: 0;
		}
	}
}
