@import "../../../assets/styles/mixins";

.banner {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;

  background-color: var(--color-yellow);
  color: var(--color-black-dark);

  display: flex;
  -moz-box-flex: 1;
  flex-grow: 1;
  -moz-box-pack: center;
  justify-content: center;
  -moz-box-align: center;
  align-items: center;

  font-size: 0.75rem;
  line-height: 1.66;
  letter-spacing: 0.03333em;
}