@media only screen and (min-width: 769px) {
  .header_wrap {
    height: 10vh;
    background-color: #294661;
  }
  .dca_link,
  .upgrade_link {
    display: none;
  }
}

.header_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 1em;
  width: 100%;
  position: relative;
}

@media screen and (max-width: 768px) {
  .header_wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-height: 100px;
  }
}

.settings_wrap {
  margin: 50px 0 50px 0;
}

@media screen and (max-width: 768px) {
  .settings_wrap {
    display: none;
  }
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 56px 0 56px 0;
}

@media screen and (max-width: 768px) {
  .links {
    display: none;
  }
}

.dca_link {
  padding: 0 30px 0 0;
}

.dca_link,
.upgrade_link {
  color: var(--color-white-dark);
  font-family: "Helvetica Neue", "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 110%;
  text-align: center;
  letter-spacing: -0.015em;
  text-decoration: none;
}

.dca_link:active, .dca_link:checked,
.upgrade_link:active,
.upgrade_link:checked {
  color: var(--color-white);
  font-weight: bold;
  text-decoration: underline;
}

.active {
  color: var(--color-white);
  font-weight: bold;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.mob_menu {
  display: none;
}

@media screen and (max-width: 768px) {
  .mob_menu {
    display: block;
    padding: 29px 23px 45px 0;
  }
}

.mob_menu .menu_button {
  background: transparent;
  padding: 0;
  border: none;
}

.mob_panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .mob_panel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
}

.mob_head {
  display: none;
}

@media screen and (max-width: 768px) {
  .mob_head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 30px 0 50px 0;
    font-family: "Helvetica Neue", "Open Sans";
    display: block;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 110%;
    text-align: center;
    letter-spacing: -0.015em;
    color: var(--color-white);
  }
  .mob_head span {
    margin-bottom: 10px;
  }
}

.dot {
  color: var(--color-white-dark);
  margin: 0 0 0 23px;
  cursor: pointer;
}
/*# sourceMappingURL=styles.module.css.map */