@import 'assets/styles/mixins';
@import 'assets/styles/variables';
.fullframe {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.contentTotal {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.outer_container {
  display: flex;
  overflow: auto;
  @include tablet() {
    display: block;
  }
}

.container {
  @include flexbox(center, center);
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-family: $default-font;
  padding: 40px 40px 40px 40px;


  @include tablet{
    padding: 0 30px 30px 30px;
  }
}

.fullframe {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.vault_empty {
  width: 100%;
  @include flexbox(center, center);
  flex-direction: column;
  text-align: center;
}

.view_button {
  @include flexbox(center, center);
  border: none;
  font-size: 1.25rem;
  font-weight: 700;
  font-family: inherit;
  height: auto;
  border-radius: 8px;
  flex-direction: row;
  padding: 1.05rem 4.75rem;
  background-color: #f5f7fa;
  color: var(--color-blue);
  box-shadow: 0 4px 6px 0 rgba(0,0,0,.16);
  transition-property: all;
  transition-duration: 0.05s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}

.view_button:hover:not(:disabled) {
  box-shadow: 0 4px 6px 0 rgba(0,0,0,.16);
  -webkit-transform: scale(.98);
    transform: scale(.98);
}

.link {
  text-decoration: none;
}

.contentTotal {
  width: 100%;
  @include flexbox(flex-start, center);
}

.bankIcon {
  color: var(--color-blue);
}