@import "../../../assets/styles/_mixins.scss";

.balance_panel {
  @include flexbox(center, center);
  width:fit-content;
  max-width: 210px;
  height: 33px !important;
  background: var(--color-blue);
  border: 1px solid var(--color-blue);
  border-radius: 10px;
  color: var(--color-white);
  font-family: $default-font;
  font-style: normal;
  padding: 8px 16px;
  cursor: pointer;

  @include tablet {
    width: 100%;
    max-width: 100%;
  }
}

.icon_wrap {
  margin: 0 0 0 auto;
}

.icon {
  @include flexbox(center, center);

  color: var(--color-white);
  width: 12px;
  height: 15.75px;
}

.balance {
  @include flexbox(center, center);
  vertical-align: middle;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: -0.01em;
  font-weight: 700px;
  white-space: nowrap;
  margin-right: 8px;
}
.balance:empty {
  display: none;
}
.address {
  @include flexbox(center, center);
  font-weight: normal;
  font-size: 12px;
  letter-spacing: -0.01em;
  margin: 0 7px 0 0;
  vertical-align: middle;

  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
