@import 'assets/styles/mixins';

.infoBanner {
  z-index: 2;

  background-color: var(--color-ice-blue);
  color: var(--color-white);

  -moz-box-flex: 1;
  flex-grow: 1;
  -moz-box-pack: center;
  justify-content: center;
  -moz-box-align: center;
  text-align: center;
  @include flexbox(center, center);
  flex-wrap: wrap;
  padding: 5px 50px;

  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.66;
  letter-spacing: 0.03333em;

  @include for_large_mobile {
    padding: 5px 35px;
  }
}

.bunnerButton {
  border: none;
  border-radius: 10px;
  margin-left: 15px;
  padding: 5px 15px;
  height: 31px;
  background: var(--color-blue);
  color: var(--color-white);
  font-family: "Helvetica Neue", "Open Sans";
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.01em;
}

.link {
  text-decoration: none;
}

.bunnerButton:hover:not(:disabled) {
  opacity: 0.7;
  box-shadow: none;
}

.close {
  border: none;
  padding: 0;
  background: transparent;
  top: 0;
  right: 0;
  position: absolute;
  padding: 5px;
  cursor: pointer;
}

.hideInfoBanner{
  display: none;
}