@import 'assets/styles/_mixins.scss';

.wrap {
	position: relative;
}

.loader {
	width: 100%;
	height: 100%;
	@include flexbox(center, center);
}

@media only screen and (max-width: 768px) {
	.loader {
		position: relative;
		top: 40;
		right: 10;
		width: 300px;
		height: 70%;
		@include flexbox(center, center);
	}
}
