@import 'assets/styles/_mixins.scss';

.wrap {
  position: relative; 
  
}

.loader {
  position: fixed;
  top: 0;
  right: 10;
  width: 100%;
  height: 100%;;
  @include flexbox(center, center);
}

@media only screen and (max-width: 786px) {
  .loader {
    position: relative;
    top: 30;
    right: 10;
    width: 100%;
    height: 70%;;
    @include flexbox(center, center);
  }
}