@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?88578492');
  src: url('../font/fontello.eot?88578492#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?88578492') format('woff2'),
       url('../font/fontello.woff?88578492') format('woff'),
       url('../font/fontello.ttf?88578492') format('truetype'),
       url('../font/fontello.svg?88578492#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?88578492#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-minus:before { content: '\e800'; } /* '' */
.icon-user-add-outline:before { content: '\e801'; } /* '' */
.icon-chat:before { content: '\e802'; } /* '' */
.icon-down-dir:before { content: '\e803'; } /* '' */
.icon-up-dir:before { content: '\e804'; } /* '' */
.icon-user:before { content: '\e808'; } /* '' */
.icon-wallet:before { content: '\e809'; } /* '' */
.icon-close:before { content: '\e823'; } /* '' */
.icon-arrow-bottom-1:before { content: '\e826'; } /* '' */
.icon-lock:before { content: '\e827'; } /* '' */
.icon-arrow-right:before { content: '\e829'; } /* '' */
.icon-plus:before { content: '\e845'; } /* '' */
.icon-star-filled:before { content: '\e84d'; } /* '' */
.icon-userlogo:before { content: '\e84e'; } /* '' */
.icon-right-circled:before { content: '\e84f'; } /* '' */
.icon-down-open:before { content: '\e850'; } /* '' */
.icon-up-open:before { content: '\e851'; } /* '' */
.icon-search:before { content: '\e852'; } /* '' */
.icon-dot-3:before { content: '\e853'; } /* '' */
.icon-shuffle-1:before { content: '\e855'; } /* '' */
.icon-loop:before { content: '\e858'; } /* '' */
.icon-book:before { content: '\e859'; } /* '' */
.icon-link-ext:before { content: '\f08e'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-space-shuttle:before { content: '\f197'; } /* '' */
.icon-bank:before { content: '\f19c'; } /* '' */
.icon-newspaper:before { content: '\f1ea'; } /* '' */
