
.icon-facebook:before { content: '\e800'; } /* '' */
.icon-instagram:before { content: '\e801'; } /* '' */
.icon-chat:before { content: '\e802'; } /* '' */
.icon-twitter:before { content: '\e803'; } /* '' */
.icon-menu:before { content: '\e804'; } /* '' */
.icon-notify:before { content: '\e805'; } /* '' */
.icon-telegram:before { content: '\e806'; } /* '' */
.icon-arrow-bottom:before { content: '\e807'; } /* '' */
.icon-user:before { content: '\e808'; } /* '' */
.icon-wallet:before { content: '\e809'; } /* '' */
.icon-football:before { content: '\e80a'; } /* '' */
.icon-transaction:before { content: '\e80b'; } /* '' */
.icon-vip:before { content: '\e80c'; } /* '' */
.icon-promo:before { content: '\e80d'; } /* '' */
.icon-settings:before { content: '\e80e'; } /* '' */
.icon-logout:before { content: '\e80f'; } /* '' */
.icon-live:before { content: '\e810'; } /* '' */
.icon-livegames:before { content: '\e811'; } /* '' */
.icon-smile:before { content: '\e812'; } /* '' */
.icon-affiliates:before { content: '\e813'; } /* '' */
.icon-flag:before { content: '\e814'; } /* '' */
.icon-housegame:before { content: '\e815'; } /* '' */
.icon-odds:before { content: '\e816'; } /* '' */
.icon-poker:before { content: '\e817'; } /* '' */
.icon-slots:before { content: '\e818'; } /* '' */
.icon-support:before { content: '\e819'; } /* '' */
.icon-tournaments:before { content: '\e81a'; } /* '' */
.icon-virtuals:before { content: '\e81b'; } /* '' */
.icon-dark:before { content: '\e81c'; } /* '' */
.icon-light:before { content: '\e81d'; } /* '' */
.icon-smile-1:before { content: '\e81e'; } /* '' */
.icon-attachments:before { content: '\e81f'; } /* '' */
.icon-gif:before { content: '\e820'; } /* '' */
.icon-water:before { content: '\e821'; } /* '' */
.icon-bitcoin:before { content: '\e822'; } /* '' */
.icon-close:before { content: '\e823'; } /* '' */
.icon-users-wm-1:before { content: '\e824'; } /* '' */
.icon-world:before { content: '\e825'; } /* '' */
.icon-arrow-bottom-1:before { content: '\e826'; } /* '' */
.icon-lock:before { content: '\e827'; } /* '' */
.icon-view:before { content: '\e828'; } /* '' */
.icon-arrow-right:before { content: '\e829'; } /* '' */
.icon-arrow-left-bold:before { content: '\e82a'; } /* '' */
.icon-arrow-right-bold:before { content: '\e82b'; } /* '' */
.icon-water-polo:before { content: '\e82c'; } /* '' */
.icon-baseball:before { content: '\e82d'; } /* '' */
.icon-chess:before { content: '\e82e'; } /* '' */
.icon-cricket:before { content: '\e82f'; } /* '' */
.icon-cycling:before { content: '\e830'; } /* '' */
.icon-darts:before { content: '\e831'; } /* '' */
.icon-featured:before { content: '\e832'; } /* '' */
.icon-football-1:before { content: '\e833'; } /* '' */
.icon-formula-one:before { content: '\e834'; } /* '' */
.icon-golf:before { content: '\e835'; } /* '' */
.icon-handball:before { content: '\e836'; } /* '' */
.icon-ice-hockey:before { content: '\e837'; } /* '' */
.icon-mma:before { content: '\e838'; } /* '' */
.icon-netball:before { content: '\e839'; } /* '' */
.icon-snooker:before { content: '\e83a'; } /* '' */
.icon-tennis:before { content: '\e83b'; } /* '' */
.icon-volleyball:before { content: '\e83c'; } /* '' */
.icon-google:before { content: '\e83d'; } /* '' */
.icon-email:before { content: '\e83e'; } /* '' */
.icon-checked:before { content: '\e83f'; } /* '' */
.icon-casino:before { content: '\e840'; } /* '' */
.icon-live-casino-play:before { content: '\e841'; } /* '' */
.icon-deleted:before { content: '\e842'; } /* '' */
.icon-roulette:before { content: '\e843'; } /* '' */
.icon-odds-new:before { content: '\e844'; } /* '' */
.icon-plus:before { content: '\e845'; } /* '' */
.icon-cashout:before { content: '\e846'; } /* '' */
.icon-lost:before { content: '\e847'; } /* '' */
.icon-returned:before { content: '\e848'; } /* '' */
.icon-unsettled:before { content: '\e849'; } /* '' */
.icon-copy:before { content: '\e84a'; } /* '' */
.icon-info:before { content: '\e84b'; } /* '' */
.icon-calendar:before { content: '\e84c'; } /* '' */
.icon-star-filled:before { content: '\e84d'; } /* '' */
.icon-userlogo:before { content: '\e84e'; } /* '' */
.icon-right-circled:before { content: '\e84f'; } /* '' */
.icon-down-open:before { content: '\e850'; } /* '' */
.icon-up-open:before { content: '\e851'; } /* '' */
.icon-search:before { content: '\e852'; } /* '' */
.icon-dot-3:before { content: '\e853'; } /* '' */
.icon-chart-line:before { content: '\e854'; } /* '' */
.icon-shuffle-1:before { content: '\e855'; } /* '' */
.icon-shuffle:before { content: '\e856'; } /* '' */
.icon-arrows-cw:before { content: '\e857'; } /* '' */
.icon-loop:before { content: '\e858'; } /* '' */
.icon-link-ext:before { content: '\f08e'; } /* '' */
.icon-rocket:before { content: '\f135'; } /* '' */
.icon-space-shuttle:before { content: '\f197'; } /* '' */
.icon-bank:before { content: '\f19c'; } /* '' */
