@import '../../../assets/styles/mixins';

.address_link_btn {
	height: 3vh;
}

.wrap {
	height: 4vh;
	color: lightgray;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	width: auto;

	&:hover {
		color: lightgray;
	}
	@include tablet {
		padding-top: 0em;
		margin-top: 2em;
		justify-content: space-between;
		border: none;
		height: 25px;
	}
}

@media only screen and (max-width: 769px) {
	.wrap {
		padding-top: 0;
		margin-top: 1em;
	}
}
