@import '../../../assets/styles/mixins';



.list,
.lang_list {
  @include flexbox(center, center);

  flex-direction: column;
  margin: 0;
  padding: 0;

  & button:last-child {
    padding: 0;
  }
}

.row {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 110%;
  color: var(--color-grey);
  padding: 0 0 15px 0;
  border: none;
  background: transparent;
  cursor: pointer;

  &:active,
  &:focus {
    font-weight: bold;
  }
}
