/* .App {
  text-align: center;
} */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #c6eee999;
  min-height: 100vh;
  display: flex;
  flex-direction: column-reverse;
  align-items: left;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: black;
}

.Main-page {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 50px;
  margin-left: 50px;
}


.col {
  display: inline-block;
  margin-right: 50px;
  margin-bottom: 100px;
  margin-bottom: 100px;
}

td {
  width: 150px;
  text-align: center;
  border: 1px solid black;
  padding: 5px;
}

.one-off {
  justify-content: left; 
  color: black;
}



/* 
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
