/* .App {
  text-align: center;
} */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #c6eee999;
  min-height: 100vh;
  display: flex;
  flex-direction: column-reverse;
  align-items: left;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: black;
}

.Main-page {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 50px;
  margin-left: 50px;
}


.col {
  display: inline-block;
  margin-right: 50px;
  margin-bottom: 100px;
  margin-bottom: 100px;
}

td {

}

.field-input {
  margin-top: 30px;
  border: 2px solid #bfc2c5;
  border-radius: 0px;
  padding: 5px 5px;
}

.one-off {
  color: #5f8eb9;
  font-size: small;
  font-weight: bold;
}

.badge.bg-primary {
  background-color: #5f8eb9!important;
}

button:enabled,
.button_slide {
  color: rgb(48, 30, 30);
  background-color: #7b8581;
  border: 2px solid #bfc2c5;
  border-radius: 0px;
  padding: 5px 5px;
  display: inline-block;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #abd2f3;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
  margin-top: 30px;
  margin-left: 20px;
}

button:disabled,
button[disabled]{
  background-color:rgb(255,255,255);
}

.slide_down:hover {
  box-shadow: inset 0 100px 0 0 #abd2f3;
}

.slide_right:hover {
  box-shadow: inset 400px 0 0 0 #abd2f3;
}

.slide_left:hover {
  box-shadow: inset 0 0 0 50px #abd2f3;
}

.slide_diagonal:hover {
  box-shadow: inset 400px 50px 0 0 #abd2f3;
}