@media screen and (min-width: 786px) {
  .stream_form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

@media screen and (max-width: 786px) {
  
}