:root {
  --color-primary: #55B88D;
  --color-secondary: #363b55;
  --color-white: #ffffff;
  --color-error: #CC193E;
  --color-black: #222638;
  --color-blue-dark: #2775CA;
  --color-blue: #678EB5;
  --color-blue-light: #EDF3FB;
  --color-yellow: #F7B91A;
  --color-black-dark: #222529;
  --color-grey: #7D8581;
  --color-middle: #6F767E;
  --color-white-dark: #EDF3FB;
  --color-purple: #4F56B5;
  --color-extrapurple: #4d55bf;
  --color-grey-light: #F5F7FA;
}