:root {
	--color-primary: #55b88d;
	--color-secondary: #363b55;
	--color-white: #ffffff;
	--color-error: #cc193e;
	--color-black: #222638;
	--color-blue-dark: #2775ca;
	--color-blue: #678eb5;
	--color-blue-light: #edf3fb;
	--color-yellow: #f7b91a;
	--color-black-dark: #222529;
	--color-grey: #7d8581;
	--color-middle: #6f767e;
	--color-white-dark: #edf3fb;
	--color-purple: #4f56b5;
	--color-extrapurple: #4d55bf;
	--color-grey-light: #f5f7fa;
	--color-red: #cc193e;
}
