$default-padding: 20px;
$default-font: "Helvetica Neue", "Open Sans";
$default-background: linear-gradient(180deg, #294661 0%, #678eb5 100%);
$color-input-background: var(--color-white);
$color-input-text: var(--color-grey);
$color-input-error: var(--color-error);
$color-link: var(--color-blue);
$transition-time: 0.1s;
$color-button-primary: var(--color-blue);
$color-button-secondary: var(--color-white);
$color-button-text-primary: var(--color-white);
$color-button-text-secondary: var(--color-blue);
