@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@mixin purplebg {
    background: linear-gradient(
        180deg,#294661,#678eb5);
}
@mixin greybg {
    background: var(--color-blue-dark)
}

@mixin font {
    font-family: 'DM Sans', sans-serif;
}

:root {
    --color-primary: #55B88D;
    --color-secondary: #363b55;
    --color-white: #ffffff;
    --color-error: #CC193E;
    --color-black: #222638;
    --color-blue-dark: #2775CA; // used
    --color-blue: #678EB5; // used
    --color-blue-light: #EDF3FB; //used
    --color-yellow: #F7B91A;
    --color-black-dark: #222529;
    --color-grey: #7D8581;
    --color-middle: #6F767E;
    --color-white-dark: #EDF3FB; // used
  }

@mixin box {
    box-sizing: border-box;
}

@mixin heavyshadow {
    -webkit-box-shadow: 0px 13px 26px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 13px 26px 0px rgba(0,0,0,0.16);
    box-shadow: 0px 13px 26px 0px rgba(0,0,0,0.16);
}

@mixin lightshadow {
    -webkit-box-shadow: 0px 13px 26px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 13px 26px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 13px 26px 0px rgba(0, 0, 0, 0.1);
}


$notwhitetxt: #B1B7DD;
$lightgrey: #F5F7FA;
$mediumgrey: #a0a0a0;
$purple: var(--color-blue);
$extrapurple: var(--color-blue-dark);
$textgrey: #848484;
$tellorgreen: #69EAAE;

a {
    color: $purple;
    font-weight: bold;
    text-decoration: underline;
}

.heavyshadow {
    @include heavyshadow;
}

.lightshadow {
    @include lightshadow;
}

.ant-btn-lg {
    border: none;
    font-size: 1.25rem;
    font-weight: 700;
    padding: 1.75rem;
    height: auto;
    border-radius: 10px;
}
button {
    transition-property: all;
    transition-duration: 0.05s !important;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}

button:hover {
    transform: scale(0.98,0.98);
}

button[disabled]:hover {
    transform: none;
}