@import "../fonts/fonts.scss";
@import "./palette";
@import "./variables";
@import '../../assets/fonts/fontello/css/fontello.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  // background-image: url('../images/background.png');
  background: $default-background no-repeat fixed;
  background-size: cover;
  font-family: $default-font;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
