@import "./palette";
@import "./variables";
@import '../../assets/fonts/fontello/css/fontello.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  // background-image: url('../images/background.png');
  background: $default-background no-repeat fixed;
  background-size: cover;
  font-family: $default-font;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


