@import "../fonts/fonts.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-image: url('../images/background.png');
  background-size: cover;
  font-family: 'Open Sans';
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}