.card {
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  background:#dfdfdf;
  width: calc(50% - 24px);
  padding: 1rem 1rem;
}

.main {
  background:#cbd8e7;
}

.title {
  color: rgb(33, 37, 41);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 8px;
}

.line {
  height: 1px;
  margin: 1rem 0;
  color: inherit;
  border: 0;
  opacity: .25;
  display: block;
  background:rgb(33, 37, 41);
}
