@import "../../../assets/styles/mixins";

@include tablet {
  .dextable
    td:not(:first-child):not(:last-child):not(:nth-child(2)):not(:nth-child(3)) {
    display: none;
    max-height: 0;
  }
}
.streamshow {
  display: inline-flex;
}

.dextable {
  border-collapse: collapse;
  overflow: hidden;
  width: 100%;
}

.blue {
  color: var(--color-blue-dark);
  font-weight: 500;
}

.grey {
  color: var(--color-grey);
  font-size: 12px;
  font-weight: 400;
}

.currencyStyle {
  text-align: left !important;
}

.dextable thead tr {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 120%;
  text-transform: uppercase;
  color: var(--color-grey);
  text-align: left;
  letter-spacing: 0px;
  border-bottom: 1px solid var(--color-blue);
}

.tableHeaders {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 120%;
  text-transform: uppercase;
  color: var(--color-grey);
  text-align: left;
  letter-spacing: 0px;
  border-bottom: 1px solid var(--color-blue);
}

.dextable td {
  padding: 15px 15px 16px 12px;
  line-height: 25px;
  text-align: right;
  border-right: 1px solid var(--color-blue-light);
}

.sortButtonsRow {
  line-height: -10px;
}

.sortButtonRowTd {
  height: 10px;
  padding: 0px;
  border-bottom: 1px solid var(--color-blue);
}

.sortButton {
  height: calc(100% + 31px);
  width: calc(100% + 27px);
  line-height: -30px;
  background-color: #e7e7e7;
  opacity: 0.5;
  transition-duration: 0.4s;
  color: var(--color-grey);
  border: 0px;
  margin: -12px -15px -16px -12px;
}

.sortButton:hover {
  cursor: pointer;
  background-color: #e7e7e7e4;
}

.tableHeaders td {
  padding: 15px 15px 16px 12px;
  line-height: 25px;
  text-align: right;
  border-right: 1px solid var(--color-blue-light);
}

.dextable td.section {
  text-align: right;
  border-right: 1px solid var(--color-blue-light);
}

.dextable tbody tr {
  border-bottom: 1px solid var(--color-blue-light);
  font-size: 0.9em;
  font-weight: 500;
}

.dextable tbody tr:last-of-type {
  border-bottom: 2px solid var(--color-blue);
}

.redFont {
  color: var(--color-red);
}
.greenFont {
  color: var(--color-primary);
}
.currDisplay {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 7px;
  border-right: 1px solid var(--color-blue-light);
}

.currDisplayImg {
  width: 25px;
  height: 25px;
}

.currDisplayName {
  height: 24px;
}

.displaybutton {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  float: right;
}

.wallet_loading {
  text-align: center;
  flex: 1;
  width: 100%;

  @include tablet {
    @include flexbox(flex-start, center);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: relative;
    flex-direction: column;
    flex: 0 0 25%;
    padding: 0 0 20px -10px;
  }
}

.displaybutton span.upgradeButton {
  padding: 3px 10px;
  text-align: center;
  display: inline-block;
  border-radius: 4px;
  background-color: rgba(16, 171, 50, 0.15);
  cursor: pointer;
  color: #10bb34;
}

.displaybutton span.downgradeButton {
  padding: 3px 10px;
  color: #e74d39;
  border-radius: 4px;
  cursor: pointer;
  background-color: rgba(229, 26, 69, 0.15);
}

.displaybutton span.disabledButton {
  padding: 3px 10px;
  color: #b7c2d6;
  border-radius: 4px;
  background-color: rgb(225, 232, 248);
  pointer-events: none;
}

.wrapper {
  height: 100%;
  width: 100%;
  padding: 10px 24px 10px 24px;

  @include tablet {
    padding: 40px 20px 20px 20px;
    height: 100%;
  }
}

.container {
  @include flexbox(center, flex-start);

  flex-direction: column;
  width: 100%;
  height: 100%;
}

.upgrade {
  margin: 0 0 70px 0;
  width: 100%;
  max-width: 670px;

  @include tablet {
    width: 100%;
    margin: 0 0 20px 0;
  }
}

.downgrade {
  width: 100%;
  max-width: 582px;

  @include tablet {
    width: 100%;
    margin: 0 0 20px 0;
  }
}

.header_upgrade,
.header_downgrade {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 140%;
  text-align: center;
  color: var(--color-blue);
}

.header_upgrade {
  margin: 0 0 30px 0;
}

.header_downgrade {
  margin: 50px 0 30px 0;
}

.settings_mob {
  display: none;

  @include tablet {
    display: block;
    width: 100%;
    padding: 0px 0 0 0;
    position: relative;
  }
}

.dot {
  color: var(--color-blue);
  margin: 0 0 0 23px;
}

@media only screen and (max-width: 769px) {
  .settings_mob {
    display: none;

    @include tablet {
      display: block;
      width: 100%;
      padding: 0px;
      position: relative;
    }
  }

  .currDisplayName {
    font-size: x-small;
  }

  .wrapper {
    height: 100%;
    width: 100%;
    padding: 0;
  }

  .dextable th,
  .dextable td {
    word-break: keep-all;

    line-height: 25px;
    text-align: center;
    border-right: 1px solid rgba(161, 175, 202, 0.53);
  }
}

@media only screen and (max-width: 359px) {
  .displaybutton {
    height: 22px;
    width: 30px;
  }

  .upgrade_downgrade_head {
    font-size: xx-small;
    text-align: left;
  }
}
