@import '../../../assets/styles/mixins';

@include tablet {
  .dextable td:not(:first-child):not(:last-child) {
    display: none;
    max-height: 0;
  }
}
  .streamshow {
    display: inline-flex;
    }

  .dextable {
    border-collapse: collapse;
    overflow: hidden;
    width: 100%;
  }
  
  .blue {
    color: var(--color-blue-dark);
    font-weight: 500;
  }

  .grey {
    color: var(--color-grey);
    font-size: 12px;
    font-weight: 400;
  }

  .dextable thead tr {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 140%;
    text-transform: uppercase;
    color: var(--color-grey);
    text-align: left;
    letter-spacing: 0px;
    border-bottom: 1px solid var(--color-blue);

  }
  
  .dextable th, 
  .dextable td {
    word-break: break-word;
    padding: 15px 15px 16px 12px;
    line-height: 25px;
    text-align: right;


  }
  
  .dextable td.section {
    text-align: right;
    border-right: 1px solid var(--color-blue-light);
  
  }
  
  .dextable tbody tr {
    border-bottom: 1px solid var(--color-blue-light);
    font-size: 0.9em;
    font-weight: 500;
  
  }
  
  .dextable tbody tr:last-of-type {
    border-bottom: 2px solid var(--color-blue);
  }
  



.redFont {
  color: var(--color-red);
}
.greenFont {
  color: var(--color-primary);
}
.currDisplay {  
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  gap: 5px;
  
}

.currDisplayImg {
  width: 24px;
  height: 24px;
 
}

.currDisplayName {
  height: 24px;
}

.displaybutton {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}

.displaybutton span.upgradeButton {
  height: 32px;
  width: 40px;
  text-align: center;
  display: inline-block;
  border-radius: 4px;
  background-color: rgba(16,187,52,.15);
  cursor: pointer;
  padding: 4px;
  color: #10bb34;
  font-size: 15px;
}

.displaybutton span.downgradeButton {
  height: 32px;
  width: 40px;
  text-align: center;
  font-size: 19px;
  color: #e74d39;
  display: inline-block;
  border-radius: 4px;
  cursor: pointer;
  padding: 4px;
  background-color: rgba(229,26,69,.15);

}



.wrapper {
  font-family: $default-font;
  height: 100vh;
  width: 100%;
  padding: 10px 24px 10px 24px;

  @include tablet {
    padding: 40px 20px 20px 20px;
    height: 100%;
  }
}

.container {
  @include flexbox(center, flex-start);

  flex-direction: column;
  width: 100%;
  height: 100%;
}

.upgrade {
  margin: 0 0 70px 0;
  width: 100%;
  max-width: 670px;

  @include tablet {
    width: 100%;
    margin: 0 0 20px 0;
  }
}

.downgrade {
  width: 100%;
  max-width: 582px;

  @include tablet {
    width: 100%;
    margin: 0 0 20px 0;
  }
}

.header_upgrade,
.header_downgrade {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 140%;
  text-align: center;
  color: var(--color-blue);
  
}

.header_upgrade {
  margin: 0 0 30px 0;
}

.header_downgrade {
  margin: 50px 0 30px 0;
}

.settings_mob {
  display: none;

  @include tablet {
    display: block;
    width: 100%;
    padding: 60px 0 0 0;
    position: relative;
  }
}

.dot {
  color: var(--color-blue);
  margin: 0 0 0 23px;
}
