@import "../../../../../assets/styles/mixins";

@media screen and (min-width: 768px) {

  .stream_form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #2d3233;
    border-radius: 10px;
    color: lightblue;
    font-size: 14px;
    padding: 2em;
    width: 50vw;
    min-width: 600px;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
  }

  .label {
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    margin-top: 5px;
    align-self: flex-start;
  }

  .input {
    padding: 0.7em;
    min-width: 15vw;
    background: #484e51;
    border-radius: 8px;
    border: 1px solid $dark-mode-lightblue;
    color: $dark-mode-lightblue;
    width: 100%;
  }

  .select {
    background: #484e51;
    border-radius: 8px;
    border: 1px solid $dark-mode-lightblue;
    color: $dark-mode-lightblue;
    padding: 0.7em;
    width: 100%;
  }

  .collection {
    display: flex;
    flex-direction: row;
  }


  .input_field_submit {
    padding: 1em;
    border-radius: 12px;
    border: none;
    color: rgb(70, 68, 68);
    cursor: pointer;
    margin-top: 5px;
  }
}

@media screen and (max-width: 768px) {
  .stream_form {
    width: 95vw;
    padding: 1em;

    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #2d3233;
    border-radius: 10px;
    color: lightblue;
    // font-size: 14px;
    padding: 2em;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
  }

  .close {
    color: #678EB5;
  }

  .stream_form_container {
    width: 100%;
    // padding: 2em;
  }

  .title {
    font-size: xx-large;
    color: #678EB5;
    font-weight: bold;

    text-align: left;
  }

  .input {
    background-color: #484e51;
    border-radius: 12px;
    border: 1px solid $dark-mode-lightblue;
    color: $dark-mode-lightblue;
    letter-spacing: 0.2px;
    height: 5vh;
    width: 100%;
    font-size: medium;
    margin-bottom: 1em;
    padding: 0.3em;
  }

  .select {
    background: #484e51;
    border-radius: 8px;
    border: 1px solid $dark-mode-lightblue;
    color: $dark-mode-lightblue;
    padding: 0.7em;
    width: 100%;
    height: 5vh;
  }

  .input_field_submit {
    color: white;
    margin-top: 2em;
    height: 5vh;
    width: 80%;
    background-color: #678EB5;
    border-radius: 12px;
    transition: 0.5s;
    cursor: pointer;

    &:hover {
      transform: scale(0.9);
    }
  }

  .input_container {
    width: 100%;
  }

  .input_label {
    color: white;
    margin-top: 1em;
    font-size: large;
  }

  .result {
    text-align: left;
    width: 100%;

    color: rgb(69, 68, 68);
  }

  .nav_link {
    height: 7vh;
    width: 50%;
    margin-top: 1em;
    background-color: #2775CA;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1em;
    padding-right: 1em;
    color: white;
    flex-direction: row;
  }

}