@import 'assets/styles/variables';

.vaultDetail {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  .value {
    color: var(--color-blue);
  }
}

.title {
  font-size: .875rem;
  line-height: 1.15rem;
  margin: 0;
  color: #a0a0a0;
}

.value {
  font-size: 1.25rem;
  margin: 0 0 4px;
}

.bankDetail {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  .value {
    color: $purple;
  }
}