name: CI

on:
    workflow_dispatch:
    pull_request:
        branches: [develop, main]

jobs:
    lint:
        if: github.event.pull_request.draft == false
        name: lint
        runs-on: [self-hosted, ci]
        steps:
            - uses: actions/checkout@v3
              with:
                  ref: ${{ github.event.pull_request.head.sha }}

            - name: Use Node.js 16
              uses: actions/setup-node@v3
              with:
                  node-version: 16.x

            - name: Install dependencies
              run: npm install

            - name: Lint
              run: npm run lint

            - name: Prettier
              run: npm run prettier

    build:
        if: github.event.pull_request.draft == false
        name: build
        runs-on: [self-hosted, ci]
        steps:
            - uses: actions/checkout@v3
              with:
                  ref: ${{ github.event.pull_request.head.sha }}

            - name: Use Node.js 16
              uses: actions/setup-node@v3
              with:
                  node-version: 16.x

            - name: Install dependencies
              run: npm install

            - name: Build codebase
              run: npm run build
