on:
  pull_request_target:
    types: [reopened, opened, synchronize, edited, labeled]
      branches:    
        - '!main'   # excludes refs/heads/main
        - '!depbot'   # excludes refs/heads/depbot
        - '!qa'       # excludes refs/heads/qa
        - 'v2'        # only v2 is 

name: build docker image and create PR env
jobs:
  create_or_update_pr_env:
    if: ${{ github.event.label.name == 'ready_to_review' }}
    runs-on: ubuntu-latest
    env:
      AWS_REGION: eu-west-1
      DOCKERHUB_REGISTRY: testricochet
      DOCKERHUB_REPOSITORY: ricochet-frontend      
      ECR_REPOSITORY: ricochet
      URL-PUBLIC: a380c3be5e6284f4ca1dfc37a12b3033-851332533.eu-west-1.elb.amazonaws.com
    steps:

      - name: sanitize branch name
        id: branch-name
        run: |
          echo "::set-output name=BRANCH::$(echo ${{ github.head_ref }} | sed -e "s/[[:punct:]]/-/g" | tr A-Z a-z | sed -e "s/--/-/g" | sed -e "s/-$//g")"
      
      - name: create a random value
        id: random-value
        run: |
          echo "::set-output name=RANDOM::$(echo $RANDOM | md5sum | head -c 10; echo;)"

      - name: Checkout
        uses: actions/checkout@v2
        with:
          ref: ${{github.event.pull_request.head.ref}}
          repository: ${{github.event.pull_request.head.repo.full_name}} 
      - name: Setup NodeJS 14
        uses: actions/setup-node@v1
        with:
          node-version: 14
      
      - name: check dependencies
        run: |
          export NODE_OPTIONS="--max_old_space_size=4096"
          yarn
          yarn tsc
          yarn build

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}
      
      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1

      - name: Build, tag, and push image to Amazon ECR
        id: build-image
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          BRANCH_NAME: ${{ steps.branch-name.outputs.BRANCH }} 
          RANDOM_VAL: ${{ steps.random-value.outputs.RANDOM }}
        run: |
          cat > .env << EOF
          PUBLIC_URL=${{ env.BRANCH_NAME }} 
          REACT_APP_API_GRATH=https://api.thegraph.com/subgraphs/name/superfluid-finance/superfluid-matic
          REACT_APP_CHAIN_ID=137
          EOF
          cat > .env.local << EOF
          REACT_APP_API_GRATH=https://api.thegraph.com/subgraphs/name/superfluid-finance/superfluid-matic
          REACT_APP_CHAIN_ID=137
          REACT_APP_RPC_URLS=https://polygon-rpc.com/
          REACT_APP_BLOCK_URLS=https://polygonscan.com
          REACT_APP_CHAIN_NAME=Matic
          ESLINT_NO_DEV_ERRORS=true
          REACT_APP_API_NODE_URL=https://polygon-rpc.com/
          REACT_APP_MULTICALL_CONTRACT_ADDRESS=0x11ce4B23bD875D7F5C6a31084f55fDe1e9A87507
          EOF
          docker image build --no-cache=true \
          --tag ${{ env.ECR_REGISTRY }}/${{ env.ECR_REPOSITORY }}:${{ env.RANDOM_VAL }} \
          .
          docker push ${{ env.ECR_REGISTRY }}/${{ env.ECR_REPOSITORY }}:${{ env.RANDOM_VAL }}
      
      - name: Install and configure kubectl and deploy
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        run: |
          VERSION=$(curl --silent https://storage.googleapis.com/kubernetes-release/release/stable.txt)
          curl https://storage.googleapis.com/kubernetes-release/release/v1.23.6/bin/linux/amd64/kubectl \
          --progress-bar \
          --location \
          --remote-name
          chmod +x kubectl
          sudo mv kubectl /usr/local/bin/
          curl -o aws-iam-authenticator https://amazon-eks.s3.us-west-2.amazonaws.com/1.21.2/2021-07-05/bin/linux/amd64/aws-iam-authenticator
          curl -o aws-iam-authenticator.sha256 https://amazon-eks.s3.us-west-2.amazonaws.com/1.21.2/2021-07-05/bin/linux/amd64/aws-iam-authenticator.sha256 && openssl sha1 -sha256 aws-iam-authenticator
          chmod +x aws-iam-authenticator
          mv aws-iam-authenticator /usr/local/bin/
      
      - name: Kubernetes set context
        uses: Azure/k8s-set-context@v1
        with:
          method: kubeconfig
          kubeconfig: ${{ secrets.KUBEKONFIG }}

      - name: deploy to eks
        env:
           ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
           BRANCH_NAME: ${{ steps.branch-name.outputs.BRANCH }}
           RANDOM_VAL: ${{ steps.random-value.outputs.RANDOM }}
        run: |  
          export ECR_REPOSITORY=${{ env.ECR_REGISTRY }}/${{ env.ECR_REPOSITORY }}
          export BRANCH_NAME=${{ env.BRANCH_NAME }}
          export RANDOM_VAL=${{ env.RANDOM_VAL }}
          envsubst < k8s/kustomization.tmpl.yaml > k8s/kustomization.yaml
          envsubst < k8s/ingress_patch.tmpl.yaml > k8s/ingress_patch.yaml
          kubectl kustomize k8s | kubectl  apply -f -
   
      - name: get url
        env:
          BRANCH_NAME: ${{ steps.branch-name.outputs.BRANCH }} 
          URL-PUBLIC: a380c3be5e6284f4ca1dfc37a12b3033-851332533.eu-west-1.elb.amazonaws.com
        run: |
          echo "your PR environment is available on this url:"
          echo a380c3be5e6284f4ca1dfc37a12b3033-851332533.eu-west-1.elb.amazonaws.com/"$BRANCH_NAME"
     
      - name: Create comment
        uses: peter-evans/create-or-update-comment@v1
        with:
          issue-number: ${{ github.event.pull_request.number }}
          body: |
            - A test environment has been created, visit this url
            - https://a380c3be5e6284f4ca1dfc37a12b3033-851332533.eu-west-1.elb.amazonaws.com/${{ steps.branch-name.outputs.BRANCH }}  **Markdown** :sparkles:
            - this environment will be destroyed once the pull request is merged or closed
            - Created by ricochet-CI
          reactions: '+1'

