name: Lighthouse CI

on:
  workflow_dispatch:
  pull_request_target:
    types: [reopened, opened, synchronize, edited]

env:
  NODE_OPTIONS: --max-old-space-size=8192

jobs:
  lighthouseci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          ref: ${{github.event.pull_request.head.ref}}
          repository: ${{github.event.pull_request.head.repo.full_name}}
      - name: Setup NodeJS 14
        uses: actions/setup-node@v2
        with:
          node-version: '14'
      - run: yarn install && npm install -g @lhci/cli@0.8.x
      - run: yarn build
      - name: run lighthouse action
        id: lighthouse-report
        run: |
          echo "::set-output name=MESSAGE::$(lhci autorun | grep https://storage)"

      - name: Create comment
        uses: peter-evans/create-or-update-comment@v1
        with:
          issue-number: ${{ github.event.pull_request.number }}
          body: |
            - ${{ steps.lighthouse-report.outputs.MESSAGE }}
