@import 'assets/styles/_mixins.scss';
.nav_container {
    @include flexbox(flex-start, flex-start);
    flex-direction: column;
    text-align: left;
    flex-shrink: 1;
    background-image: linear-gradient(   #363b55,#3c4365, #1c5087);
    padding-top: 1.5em;
    width: 10vw;
    min-height: 100vh; 
}

.wallet_icon{
    height: 14px;
    margin-right: 0.5em;
    filter: brightness(0) invert(1);
}

.logo {
    padding-top: 1em;
    padding-left: 1em;
    padding-bottom: 1em;
  }

.link {
    padding: 1em;
    padding-top: 1.5em;
    border-bottom: 1px solid rgba(245, 245, 245, 0.101);
    padding-right: 2em;
    width: 100%;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.855);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: smaller;
    width: 100%;
    transition: 0.5s;
  
    &:hover{
        padding-left: 0.5vw;
        background-color: #3479c4;
    }
}

.nav_link {
    cursor: pointer;
    @extend .link;
}

.nav_link_active {
    background-color: #2775CA;
    color: rgb(255, 255, 255);
    border-right: 1px solid black;
    font-weight: bold;
    letter-spacing: 0.5px;
}

.vaultIcon{
    position: absolute;
    left: 10px;
    fill: black;
}

.vaultIcon:hover {
    fill: #40a9ff;
}

.vaultIcon:active{
    fill: white;
}

.nav_link_desktop_only{
    cursor: pointer;
    @extend .link;
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 769px){
    .nav_container {
        padding-top: 0em;
        min-height: 10vh; 
        width: 100vw;
        height: 10vh;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .nav_link_desktop_only{
        display: none;
    }

    .logo {
        display: none;
      }


    .link {
        padding: 1em;
        width: 100%;
        text-decoration: none;
        color: rgba(255, 255, 255, 0.75);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        height: 100%;
        margin-bottom: 0em;
        margin-top: 0em;
        font-size: x-small;
    }

    .nav_link{
        height: 100%;
        padding: 1em;
        margin-bottom: 0em;
        margin-top: 0em;
    }

    .nav_link_active {
        background-color: #2775CA;
        color: rgb(253, 253, 253);
        border-right: 0px solid black;
    }

    .wallet_icon{
        height: 2em;
        filter: brightness(0) invert(0.8);
    }
    
    .nav_link_name{
        display: none;
    }
}

@media only screen and (max-width: 480px){
    .link {
        font-size: xx-small;
    }
}